
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

// Font stacks
$helvetica: 'Roboto Condensed', 'Helvetica Neue',Helvetica,Arial,'游ゴシック',YuGothic,'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro',Meiryo,'メイリオ','ＭＳ Ｐゴシック',sans-serif;
$helveticaNeue: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}