
// Colors
$bgColor: #FFFFFF;
$baseColor: #F6CA06;
$baseDarkColor: #E2B700;
$subColor1: #007FB1;
$subColor2: #009F8C;
$subColor3: #D8E212;
$subColor4: #DA5019;

// Borders
$bigBorder: 12px;
$middleBorder: 4px;
$smallBorder: 2px;
$xsBorder: 1px;


@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

// Font stacks
$baseFont: '游ゴシック', YuGothic, Helvetica, Arial, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro',Meiryo,'メイリオ','ＭＳ Ｐゴシック',sans-serif;
$strongFont: 'Roboto Condensed', 'Helvetica Neue', '游ゴシック', YuGothic, Helvetica, Arial, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro',Meiryo,'メイリオ','ＭＳ Ｐゴシック',sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 980px) {
    @content;
  }
}

//
@mixin icon( $content ) {
  &:before {
    font-family: FontAwesome;
    content: $content;
    margin-right: 8px;
  }
}
