.header-logo {
  display: block;
  color: $baseColor;
  font-family: $strongFont;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 10rem;
  background: url(../img/me.png) #000 50% 50% no-repeat;
  background-size: cover;
  border-top: $middleBorder solid #000;
  border-bottom: $middleBorder solid #000;

  .show-mobile {
    display:none;
  }
  
  &:hover {
    text-decoration: none;
    color: #FFF;
  }

  @include mobile {
    background: transparent;
    color: #000;
    font-size: 4rem;

    &:hover {
      color: #000;
    }

    .show-mobile {
      display: block;
      font-family: $strongFont;
    }

    svg {
      display:none;
    }
  }
}